---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="In 8 words: I take photos and turn them into art."
	heroImage="/home-about/about.png"
>
<p>In 8 words: I take photos and turn them into art. But in more detail?</p>
<p>Hello! I’m Thomas Underwood, a photographer who takes photos and turn them into art. Welcome to my part blog, portfolio and passion project. One of my first photos reached 3,000 views, which motivated me to keep taking pictures. To this day, I still take photos and actively post them on <a href="https://unsplash.com/@tomtakespics">Unsplash</a>.</p>
<p>I believe that anyone should have access to high-quality photography, so I make sure to post regular pictures I’ve taken from my home (rural Norfolk), various cities around the world and other interesting scenes.</p>
</Layout>
