---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="In 8 words: I take photos and turn them into art."
	heroImage="/home-about/about.png"
>
<p>In 8 words: I take photos and turn them into art. But in more detail?</p>
<p>Hello! I’m Thomas Underwood, a photographer who takes photos and turn them into art. Welcome to my part blog, portfolio and passion project. One of my first photos reached 3,000 views, which motivated me to keep taking pictures. To this day, I still take photos and actively post them on <a href="https://unsplash.com/@tomupauk" data-type="link" data-id="https://unsplash.com/@tomupa">Unsplash</a>.</p>
<p>I believe that anyone should have access to high-quality photography, so I make sure to post regular pictures I’ve taken from my home (rural Norfolk), various cities around the world and other interesting scenes.</p>
<p>I was greatly inspired by this Tweet (or whatever it’s called now, haha) from <a href="https://x.com/HakitaDev/status/1797245014268891236">indie video game developer HakitaDev</a> to keep my pictures free.</p>
<p>Also, I sometimes draw things in a black-and-white doodle style. I was inspired by someone's drawings that <a href="https://www.bbc.co.uk/cbbc/watch/bp-doodle-boy" data-type="link" data-id="https://www.bbc.co.uk/cbbc/watch/bp-doodle-boy">I saw on Newsround once</a>, although I have since developed my own style.</p>
<p>For now that's all I do, but do expect more! I'm always looking for something new and fun to try!</p>
</Layout>
